<p><a href="/logout">Logout</a><p><br>
<% binding.pry %>
<h1>Tweet #<%= @tweet.id %></h1><br>
<h2>Tweeter: <%= @tweet.user.username %></h2><br>
<h2>Content: <%= @tweet.content %></h2><br>
<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a><br>
<form method="POST" action="/tweets/<%= @tweet.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tweet"><br>
</form>
